apiVersion: v1
kind: Service
metadata:
  labels:
    app: rollout-demo
  name: rollout-demo-canary
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: rollout-demo
